<p style="font-size:14px">
  <strong>Author:</strong>
  <%= comment.commenter %>
</p>

<p style="font-size:14px">
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<% if user_signed_in? == true %>
  <p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               class: "btn btn-danger",
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<hr>
