<div id="root"></div>

<script>
  var ArticlesShowView = {
    articleId: "<%= params[:id] %>",
    articleTitle: "<%= @article.title %>",
    articleDate: "<%= @article.created_at %>",
    articleBody: `<%= @article.text %>`,
  }
</script>
